<?xml version="1.0" encoding="utf-8"?>
<!-- Debug builds only: usage data may go to a web server on this computer over plain HTTP
     (res/xml/network_security_config.xml). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:networkSecurityConfig="@xml/network_security_config" />
</manifest>
